table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto; 
  
  }
  body {
    font-family: "Arial", sans-serif; 
  }
  
  th, td {
    vertical-align: middle;
    padding: 12px;
    height: 50px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-color: #ccc; 
    width: 30%; 
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
  }

  .tipo-seguro {
    font-weight: bold;
  }
  table tr:hover {
    background-color: #0da963;
  }
  h2 {
    color: #333;
    font-size: 45px;
    text-transform: uppercase;
  }